{% extends "glue/base.html" %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% block main_content %}
    <section>
        <h2>{% trans "last published items" %}</h2>
        <ul class="last-items">
            {% for item in last_items %}
            <li><a href="{{ item.reverse_detail }}" class="title">{{ item.title }}</a> - <span class="publication">{% blocktrans with timesince=item.publication_date|timesince %}{{ timesince }} ago {% endblocktrans %}</span>
                (<a href="{{ item.root.reverse_detail }}">{{ item.root.title }}</a>)</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}