{% load i18n glue_tags app_tags activity_tags %}
<div class="fixed">
<nav class="top-bar main-navigation" data-topbar role="navigation">
{% block main_navigation %}        
    <ul class="title-area">
        <li class="name">
          <h1><a href="{% url 'kii:glue:home' %}">Kii</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        {% if request.user.is_authenticated %}
            <ul>
                <li class="has-dropdown">
                    <a href="#">{% icon "fi-home" %}{% trans "my stream" %}</a>
                    <ul class="dropdown">
                        {% for stream in user_streams %}
                            <li><a href="{{ stream.reverse_detail }}">{{ stream.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul>
                <li class="has-dropdown">
                    <a href="#">{% icon "fi-thumbnails" %}{% trans 'kii.apps' %}</a>
                    <ul class="dropdown">
                        {% for app in user_apps %}
                            {% if app.menu %}
                                {% include "glue/menu_node.html" with node=app.menu %}
                            {% endif %}
                        {% endfor %}                              
                        
                    </ul>
                </li>
            </ul> 
            <ul>
                <li class="has-dropdown">
                    <a href="#">{% icon "fi-plus" %}{% trans 'create' %}</a>
                    <ul class="dropdown">
                        {% for model in item_models %}
                            {% model_url model 'create' as url %}
                            {% if url %}
                                <li><a href="{{ url }}">{{ model.meta.verbose_name }}</a>
                            {% endif %}
                            <li><a href="{% url 'kii:stream:create' %}">{{ stream_model.meta.verbose_name }}</a>
                        {% endfor %}    
                    </ul>
                </li>
            </ul> 
            {% if action == 'detail' and object.reverse_update %}
               <ul>            
                    <li><a href="{{ object.reverse_update }}">{% icon "fi-pencil" %}{{ object.meta.verbose_name }} - {% trans 'update' %}</a></li>
                </ul>
            {% endif %}
            
        {% endif %}
        {% if request.user.is_authenticated %}
            <ul class="right">
                <li class="has-dropdown"><a href="#">{% icon "fi-torso" %}{{ request.user.username }}</a>
                    <ul class="dropdown">                       
                        <li class="logout"><a href="{% url 'kii:user:logout' %}">{% icon "fi-x" %}{% trans 'logout' %}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="notifications right">
                <li class="has-dropdown">
                    <a href="#">{% icon "fi-burst" %} {{ unread_notifications|length }}</a>
                    <ul class="dropdown">
                    {% for notification in unread_notifications %}
                        <li>{% display_action notification.action %}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        {% else %}
        <ul class="right">            
            <li><a href="{% url 'kii:user:login' %}" class="login">{% trans 'login' %}</a></li>            
        </ul>
        {% endif %}
    </section>
{% endblock %}
</nav>
</div>