{% load i18n glue_tags %}
<div class="fixed">
<nav class="top-bar main-navigation" data-topbar role="navigation">
{% block main_navigation %}        
    <ul class="title-area">
        <li class="name">
          <h1><a href="{% url 'kii:glue:home' %}">Kii</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="apps top-bar-section">
        {% if request.user.is_authenticated %}
        <ul class="left">
            <li class="has-dropdown">
                <a href="#">{% trans 'kii.apps' %}</a>
                <ul class="dropdown">
                    {% for app in user_apps %}
                        {% if app.menu %}
                            {% include "glue/menu_node.html" with node=app.menu %}
                        {% endif %}
                    {% endfor %}                              
                    
                </ul>
            </li>
        </ul>    
        {% endif %}
        {% if request.user.is_authenticated %}
            <ul>
                <li><a href="{{ user_stream.reverse_detail }}">{% icon "fi-home" %}{% trans "my stream" %}</a></li>
            </ul>
            <ul class="right">
                <li class="has-dropdown"><a href="#">{% icon "fi-torso" %}{% trans 'kii.user.menu' %}</a>
                    <ul class="dropdown">                       
                        <li class="logout"><a href="{% url 'kii:user:logout' %}">{% icon "fi-x" %}{% trans 'logout' %}</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
        <ul class="right">            
            <li><a href="{% url 'kii:user:login' %}" class="login">{% trans 'login' %}</a></li>            
        </ul>
        {% endif %}
    </section>
{% endblock %}
</nav>
</div>