{% load i18n glue_tags %}
{% block comment %}
<li class="comment" id="comment-{{ comment.pk }}">
    <p class="author">
        {% if comment.user and comment.user == subject.owner %}{% icon "fi-crown" %}{% endif %}
        {% if comment.profile.url %}
        <a target="_blank" href="{{ comment.profile.url }}">{{ comment.profile.username }}</a>
    {% else %}{{ comment.profile.username }}{% endif %} - 
    <span class="created date" title="{{ comment.created }}">{% blocktrans with timesince=comment.created|timesince %}{{ timesince }} ago {% endblocktrans %}</span>
    
    {% if request.path != comment.subject.reverse_detail %}
        <span class="subject">{% trans "about" %} <a href="{{ comment.subject.get_absolute_url }}">{{ comment.subject.title }}</a>
    {% endif %}
    </p>    
    <div class="content">{{ comment.content.rendered }}</div>
    {% block actions %}{% endblock %}
</li>
{% endblock %}