{% extends 'glue/base.html' %}

{% block main_content %}
    
    
    {% block tags %}
    <div class="widget tags">
        <ul>
            {% for tag in request.user.tags.all %}
                <li class="tag">{{ tag.title }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

    <div class="stream-items">
    {% block stream_items %}
        {% for item in object.children.all %}
            <article class="stream-item">
                <h2 class="title">{{ item.title }}</h2>
            </article>
        {% endfor %}
    {% endblock %}
    </div>
{% endblock %}