@import "settings";
@import "foundation";
@import "foundation-icons";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.main-content {
    @include grid-row;
    padding: 2rem 0.5rem;    
}

code {
    border: none;
    background-color: #EEEEEE;
    
}
code.code {
    background-color: transparent;
}
.code > pre, blockquote {
    background-color: #EEEEEE;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 2rem 0;
    overflow-x: scroll;
}
// icons

i[class^="fi-"] {
    margin-right:  0.5rem;
}

.actions {
    list-style-type: none;
    margin-left: 0
}

.date {
    @include label;
}

form {
    max-width: 30rem;
    display: block;
    margin: 0 auto;
}

textarea {
    min-height: 10rem;
}
// streams 

.stream.info  {
    max-width: $content-width;
    margin: 0 auto; 
}
article.stream-item {
    max-width: $content-width;
    margin: 0 auto; 
    border-bottom: 1px solid $gainsboro;
    padding: 4rem 0;

    .title {
        letter-spacing: -2px;
        font-size: 3rem;
        font-weight: bold;
        line-height: 1;
        a, a:hover {
            color: #2E3437;
        }
    }
}
.content {
    margin: 2rem 0;
}

.meta {
    @include panel; 
}
.publication, .actions, .date,  {
    font-family: "Open Sans", sans-serif;
}
.tabs > dd {
    border: 3px solid $silver;
}