{% load base_models i18n %}

{% with comments=item.comments.public %}
<article class="stream-item {{ item.class_name }}">
    <div class="main">
        {% block main %}
            <h2 class="title"><a href="{{ item.reverse_detail }}">{% block title %}{{ item.filtered_title }}{% endblock %}</a></h2>
            <p class="publication">{% blocktrans with stream_link=item.root.reverse_detail date=item.publication_date author=item.owner %}published on {{ date }} by <a href="{{ stream_link }}">{{ author }}</a>{% endblocktrans %} | <a href="{{ item.reverse_detail }}#comments"><i class="fi-comment"></i>{{ comments|length }}</a></p>
            <div class="content">{% block content %}{{ item.filtered_content }}{% endblock %}</div>
        {% endblock %}        
    </div>
    {% block secondary %}
        {% if item.owner == request.user %}
        <div class="meta">
            {% block admin %}
                {% block info %}
                    <div class="info">              
                         
                        {% block status %}<span class="status">{{ item.get_status_display }}</span>{% endblock %}
                    </div>
                {% endblock %}
                    <ul class="actions admin">
                        <li class="update"><a href="{{ item.reverse_update }}"><i class="fi-pencil"></i>{% trans "update" %}</a></li>
                        <li class="delete"><a href="{{ item.reverse_delete }}"><i class="fi-trash"></i>{% trans "delete" %}</a></li>
                    </ul>
            {% endblock %}
        </div>
        {% endif %} 
    {% endblock %}  

    {% block comments %}
    
        {% if display_comments %}
            <h3><i class="fi-comments"></i>{% blocktrans count comment_count=comments|length %}
                {{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}</h3>
            <ul id="comments">
                {% for comment in comments %}
                    {% with comment_item_template=comment|list_item_template %}
                        {% include comment_item_template with comment=comment subject=item %}
                    {% endwith %}                    
                {% endfor %}
            </ul>
            {% if item.discussion_open %}
                <h3 id="comment-post">{% trans "comment.publish" %}</h3>
                <form action="{{ item.reverse_comment_create }}" class="{{ comment_form.Meta.model.class_name }}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" value="OK" />
                </form>
            {% endif %}
        {% endif %}
    {% endblock %}      
</article>
{% endwith %}