{% load base_models i18n %}

<article class="stream-item {{ item.class_name }}">
    <div class="main">
        {% block main %}
            <h2 class="title">{% block title %}{{ item.filtered_title }}{% endblock %}</h2>
            <div class="content">{% block content %}{{ item.filtered_content|safe }}{% endblock %}</div>
        {% endblock %}        
    </div>
    <div class="secondary">
    {% block secondary %}
        {% block info %}
            <div class="info">              
                 {% block permission %}
                    {% if request.user.is_authenticated %}
                        <p class="read"><i class="fi-lock"></i>{{ item.read_permission }}</p>
                    {% endif %}
                {% endblock %}

                {% block status %}<span class="status">{{ item.get_status_display }}</span>{% endblock %}
                {% block date %}
                    {% with item.created|timesince as created %}
                        <time class="created date" datetime="{{ item.created|date:'c' }}" pubdate=>{{ created }}</time>
                        {% if item.last_modified|timesince != created %}
                            <time class="last-modified date" datetime="{{ item.created|date:'c' }}">{{ item.last_modified|timesince }}</time>
                        {% endif %}
                    {% endwith %}
                {% endblock %}
                {% block owner %}<span class="owner">{{ item.owner.username }}</span>{% endblock %}            
            </div>
        {% endblock %}
        {% block admin %}
            {% if item.owner == request.user %}
                <ul class="actions admin">
                    <li class="update"><a href="{{ item.reverse_update }}"><i class="fi-pencil"></i>{% trans "update" %}</a></li>
                    <li class="delete"><a href="{{ item.reverse_delete }}"><i class="fi-trash"></i>{% trans "delete" %}</a></li>
                </ul>
            {% endif %}
        {% endblock %}
    {% endblock %}        
    </div>
</article>