<!DOCTYPE html>
<html>{% load i18n static %}
    <head>
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta charset="utf-8" />
        {% block css %}
            <link href="{% static 'glue/scss/app.scss' %}" rel="stylesheet" type="text/x-scss" />            
        {% endblock %}
        {% block head_js %}
            <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
        {% endblock %}
    </head>
    <body> 
        <div class="main-content">
            {% block messages %}       
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endblock %}
            {% block header %}
                {% if not request.user.is_authenticated %}
                    <form action="{% url 'kii:user:login' %}" method="POST" id="login" >
                        {% csrf_token %}
                        {{ login_form }}
                        <input type="submit" value="{% trans 'login' %}" />
                    </form>
                {% else %}
                    <ul class="apps">
                        {% for app in user_apps %}
                            <li class="{{ app.label }}"><a href="{% url 'kii:'|add:app.label|add:':index' %}">{{ app.verbose_name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
            {% block main_content %}{% endblock %}
        </div>
        {% block bottom_js %}
        {% endblock %}
    </body>
</html>